html {
  box-sizing: border-box;
  font-size: 100%;
}

/* Style the body */
body {
  font-family: Arial;
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
  background-color: rgb(206, 197, 197);
  padding: 0;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  justify-content:space-between;/* Distribui os elementos à esquerda e à direita */
  align-items: center; /* Centraliza verticalmente os elementos na barra de navegação */
  background-color: #ffffff;
  padding : 10px ;
  z-index: 50;
  height: 10%;
  height: auto; /* Adjust height to fit content */
}
  
/* Style the navigation bar links */
.navbar a {
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  padding: 10px; /* Adjust padding for smaller screens */
  text-decoration: none;    
}
  
/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-right {
  display: block;
  margin-right: flex;
  margin-right: 10px; /* Adjust spacing for smaller screens */
}

.navbar-right-link {
  display: none;
}

.navbar-right-icon {
  display: inline;
}

@media only screen and (min-width: 40rem) {
  .navbar-right-link {display: inline;}
  .navbar-right-icon {display: none}
}

#cadastro { 
  position: relative; /* Permite posicionar o elemento filho absolutamente */
  display: inline-block; /* Permite que o contêiner envolva apenas o conteúdo */
  background-color: rgb(1, 1, 81);
  color: #ddd;
}
.navbar-left {
  margin-left: flex;
  font-size: x-large;
  text-align: left;
  margin-left: 10px; /* Adjust spacing for smaller screens */
  font-size: medium; /* Adjust font size for smaller screens */
}

/* .navbar-hidden-link {
  width: 100%;
} */

/* .navbar-hidden {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.navbar-hidden a {
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
} */

#label-dropdown-navbar-menu {
  text-align: right;
  user-select: none;
  cursor: pointer;
}

#checkbox-dropdown-navbar-menu {
  display: none;
}

#checkbox-dropdown-navbar-menu:checked + .navbar-hidden-link{
  /* display: flex; */
  display: absolute;
}

/* @media only screen and (min-width: 650px) {
  .navbar-hidden {display: none;}
} */

.navbar-hidden {
  height: 12vh;
  padding : 10px ;
  justify-content: flex-end;
  /* display: flex; */
  /* display: none; */
  display: relative;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  background-color: #fff;
}

.navbar-hidden a {
  color: rgb(0, 0, 0);
  /* padding: 14px 20px; */
  padding: 2px;
  text-decoration: none;
  text-align: right;
  /* display: none; */
  display: absolute;
  flex-wrap: wrap;
  flex-direction: column;
}

.navbar-hidden a:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (min-width: 40rem) {
  .navbar-hidden {
    display: none;
  }

  .navbar-hidden a {
    display: none;
    flex-basis: 0%;
  }
}

#UEDER { 
  font-family: 'Montserrat', sans-serif;
  color: #06427d; 
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
  
#background-container {
  /* position: fixed; */
  position: relative;
  width: 100vw;
  height: 80%;
  background: url('./img/image.jpeg') center/cover no-repeat;
}
  
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  display: flex;

}
  
.content-box {
  /*background: rgba(255, 255, 255, 0.7);*/
  padding: 20px;
  border-radius: 10px;
  width: 90%; /* Ajuste a largura conforme necessário */
  margin: 0 auto;
  display: flex;
}
  
.main {
  display: flex;
  align-items: center; /* Centraliza verticalmente os elementos na barra de pesquisa */
}

.span-text {
  float:left;
  margin-top: 10px;
  text-align: left;
  color: black;
  font-size: large;
  font-weight: bold;
  width: 600px;
}

.span-text1 img {
  width: 20px;
  margin-left: -8vh;
  text-align: left;
  color: black;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  display: block;
    
}

.sobrenos {
  height: 70vh; 
  width: 100vw; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.br{
  font-size: 2em;
  margin: 10px;
  padding: 10px;
  /* border: 2px solid #ff1100; */
  /* background-color: #3f92da; */
  text-align: center;
  margin-top: 5px;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

.sobrenos p {    
  font-size: 2em;
  margin: 5px;
  padding: 5px; /* Adiciona preenchimento interno à caixa */
  border: 2px solid #007BFF; /* Cor da borda azul, ajuste conforme necessário */
  background-color: #F0F8FF;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Define uma largura máxima para o formulário */
}

form h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

  /* Footer */
.footer {
  /* position: relative; */
  /* margin-top: 80vh; */
  height: 10%;
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.search-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.search-btn{
  width: 10px;
  height: 10px;
}

.mapbox{
  height: 90vh;
  flex: 1;  
}

.mapbox iframe {
  width: 100%;
  height: 100%;
}

.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 0;
  left: 0;
  background-color: #B3C4F2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: #074C83;
  size: 50rem;
}

.sidebar button {
  padding-left: 15px;
  font-size: 1rem;
  width: 28vh;
  text-align: left;
  top:0px;
  width: 100%; /* Take full width on smaller screens */

}

.sidebar button:hover {
  background: none;
  transition: 0.5s;
}

.sidebar .close-btn {
  position: absolute;
  top:  0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

.content {
  transition: margin-left 0.5s;
  padding: 16px;
}

.floating-button {
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  right: 60px; /* Adjust the distance from the right as needed */
  width: 60px; /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  border-radius: 50%;
  background-color: white; /* Default background color */
  color: black; /* Change the text color as needed */
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2; /* Ensure the button is above other elements */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.floating-button:hover {
  background-color: #0056b3; /* Change the background color on hover */
}

.content-map{
  /* width: 100%; */
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 0;
  height: 90vh;
  background-color: rgb(255, 255, 255, 1);
}


.btn-sidebar{
  padding: 8px 8px 8px 32px;
  padding-bottom: 25px;
  text-decoration: none;
  font-size: 18px;
  color: #074C83;
  display: block;
  transition: 0.3s;
  z-index:2;
  display: flex;
  float: left;
}
.overlay-content {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  top: 35%;
}

.content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.main {
  background-color: #fff;
  height: 7vh;
  width: 100%;
  display: flex;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.span-text {
  padding: 10px;
  width: 100%; /* Ajuste o tamanho conforme necessário */
  border: none;
  padding: 0px 0px 0px 20px;
  top: 50%; left: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.span-text1 {
  padding: 10px;
  cursor: pointer;
  border:none;
  right: 100px;
}

.span-text1 img {
  width: 3vh; /* Ajuste o tamanho conforme necessário */
  height: 3vh;
  padding-left: 8vh;
  border-radius: 10px;
}

input:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

#mapa-sao-carlos {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('./img/mapas-digitais-Sao-Carlos.jpg') center/cover no-repeat;
}

#menu-alerta {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#menu-alerta a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
}

#alert-form-area {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  /* background-color: rgb(255, 255, 255, 1); */
  /* opacity: 10%; */
  /* background: url('./img/mapas-digitais-Sao-Carlos.jpg') center/cover no-repeat; */
}

.alert-container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.alert-form-title {
  display: block;
}

.close-button {
  width: 2vh;
  height: 2vh;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
}

.form-select {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-textarea {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-observation {
  font-size: 85%;
}

.form-checkbox {
  /* display: flex; */
  width: auto;
}

.form-checkbox::after {
  /* display: flex; */
  width: auto;
  background-color: #0056b3;
}

.form-checkbox-label {
  display: initial;
  margin-left: 5px;
}

#submit-button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

#submit-button:hover {
  background-color: #0056b3;
}